<link>
<a>

a:link{  
    color:rgb(251, 244, 233)
}

a:focus {
    color:rgb(251, 244, 233)
}
h2 {
   container-type:inline-size ; width:fit-content
}

h1 {
    color: black(141, 141, 230); background-color: #e1f0e5(255, 255, 255);
}

h3 {
    color: black(141, 141, 230); background-color: rgb(255, 255, 255);font-size: large; font-weight: normal; font-style:oblique; font-family:Georgia
}

body {
    color: rgb(0, 0, 0); font-size: large; font-weight: normal; font-style:oblique; font-family:Georgia
}

a {
    color: lightblue; 
}


body, a{
    background-color: #e1f0e5(218, 212, 212, 0.722);
}


p.intro {  
    font-style: normal;  
}

h2, h3 {
    width: auto; margin-bottom: auto; text-align: justify;
}

img#img3 {
    float: bottom;  size-adjust: auto ;  align-items: center;

}

img#img0 {
    float: bottom; align-items: center; size-adjust: auto; 
}

img#img1 {
   float: bottom; align-items: center; size-adjust: auto; 
}

img#img2 {
    float: bottom ; size-adjust: auto; 
}

br {
    color:black;
}

button {
  color: black;
}
